@import '../../scss/1-utils/#index';
.Main-Form {
    display:flex;
    // height: 100%;
    background-image:url("../LoginForm/splash-form.jpg");
    background-size: 2000px;
    font-family: 'Raleway', sans-serif;
}

.addTabForm {
    width:50%;
    max-width:500px;
    margin:auto;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

